@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
	--size: 38px;
	--coinSizeDeduction: 25px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: "Press Start 2P", system-ui;
	background: url("image/repeated-square-dark.png");
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

dialog {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 100;
	padding: 180px 0.7rem 0;
	place-items: center;
}

dialog > p {
	color: white;
	text-align: center;
	font-size: 8rem;
	word-spacing: -2rem;
}

div {
	width: var(--size);
	height: var(--size);
}

.container {
	/* 21 by 15 */
	width: calc(21 * var(--size));
	height: calc(15 * var(--size));
	overflow: hidden;
	position: relative;
}

.world {
	position: relative;
}

.row {
	display: grid;
	grid-template-columns: repeat(21, var(--size));
}

.brickH {
	border-radius: 18px;
	background: linear-gradient(
		to top,
		black,
		black,
		mediumblue,
		rgb(247, 209, 0),
		mediumblue,
		black,
		black
	);
}

.brickV {
	border-radius: 18px;
	background: linear-gradient(
		to left,
		black,
		black,
		mediumblue,
		blue,
		mediumblue,
		black,
		black
	);
}

.empty,
.coin__div,
.cherry {
	background-color: black;
}

.coin {
	width: calc(var(--size) - var(--coinSizeDeduction));
	height: calc(var(--size) - var(--coinSizeDeduction));
}

.coin__div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pacman__design {
	display: none;
	position: absolute;
	background-image: url("./image/Pacman2.gif");
	background-size: 125%;
	background-position: center;
	border-radius: 50%;
	width: var(--size);
	height: var(--size);
}

.clyde__design {
	display: none;
	position: absolute;
	background-image: url("./image/Clyde1.gif");
	background-size: cover;
	background-position: center;
	width: var(--size);
	height: var(--size);
}

.inky__design {
	display: none;
	position: absolute;
	background-image: url("./image/Inky1.gif");
	background-size: cover;
	background-position: center;
	width: var(--size);
	height: var(--size);
}

.pinky__design {
	display: none;
	position: absolute;
	background-image: url("./image/Pinky1.gif");
	background-size: cover;
	background-position: center;
	width: var(--size);
	height: var(--size);
}

.scared {
	position: absolute;
	background-image: url("./image/scaredGhost.gif");
	background-size: cover;
	background-position: center;
	width: var(--size);
	height: var(--size);
}

/* This should be below the scared class */
.eyes {
	position: absolute;
	background-image: url("./image/eyes.png");
	background-size: cover;
	background-position: center;
	width: calc(var(--size) - 13px);
	height: calc(var(--size) - 15px);
}

.scorebox {
	background: rgb(247, 136, 0);
	border-radius: 3px;
	color: rgb(247, 209, 0);
	display: flex;
	font-size: 1rem;
	justify-content: space-between;
	justify-self: center;
	margin-bottom: 10px;
	letter-spacing: 1px;
	padding: 10px 20px;
	text-shadow: 2px 2px rgb(60, 0, 120);
	width: 90%;
	max-width: 750px;
}

.cherry {
	background-image: url("./image/cherry.gif");
	background-size: cover;
	background-position: center;
	width: calc(var(--size) + 5px);
	height: calc(var(--size) + 5px);
}

@media only screen and (max-width: 650px) {
	:root {
		--size: 22px;
		--coinSizeDeduction: 15px;
	}

	dialog > p {
		font-size: 4rem;
	}

	.scorebox {
		font-size: 0.5rem;
	}
}

@media only screen and (min-width: 651px) and (max-width: 1020px) {
	:root {
		--size: 30px;
		--coinSizeDeduction: 18px;
	}

	dialog > p {
		font-size: 6rem;
	}

	.scorebox {
		font-size: 0.9rem;
	}
}
